<ion-content class="ion-text-center">
  <h3><b>{{panneau.libelle}}</b></h3>
  <ion-slides  [options]='slideOpts'>
    <ion-slide *ngFor="let sous of listePanneauxParCategorie; let index = index">
      <div class="contenair">
        <img src="{{sous.image}}" alt="" >
        <h3>{{sous.nom}}</h3>
        <ion-item>
            <audio src={{sous.audio}}  controls></audio>
        </ion-item>
      </div> 
    </ion-slide>
  </ion-slides> 
  <ion-grid class="ion-no-border" style="position: absolute; bottom: 0px;">
    <ion-row>
      <ion-col size="large" size="4" *ngFor="let panneaux of panneaux">
        <div *ngIf="panneaux.libelle === panneau.libelle">
          <a>
          <ion-img class="taille-image image-floue" src="{{ panneaux.image }}" disabled="disabled"></ion-img>
          <ion-label style="color: white; font-size: small;">{{panneaux.libelle}}</ion-label>
          </a>
        </div>
        <div *ngIf="panneaux.libelle !== panneau.libelle">
          <a (click)="showConfirm(panneaux)">
          <ion-img class="taille-image" src="{{ panneaux.image }}" disabled="disabled"></ion-img>
          <ion-label style="color: white; font-size: small;">{{panneaux.libelle}}</ion-label>
          </a>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label>Accueil</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/tabs/tabs/tab2">
          <ion-icon name="school-outline"></ion-icon>
          <ion-label>Apprendre</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/tabs/tabs/tab3">
          <ion-icon name="extension-puzzle-outline"></ion-icon>
          <ion-label>Jouer</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>