<ion-content>
  <ion-card-content>
    <ion-item *ngIf="this.valide == true">
      <ion-img src="assets/assets/unnamed.gif"> </ion-img>
      <audio src="assets/assets/audio/reponse/gagner.ogg" controls autoplay hidden></audio>
    </ion-item>
    <ion-item *ngIf="this.valide== false">
      <ion-img src="assets/assets/audio/reponse/giphy.gif"> </ion-img>
      <audio src="assets/assets/audio/reponse/POLWHST2.mp3" controls autoplay hidden></audio>
    </ion-item>
  </ion-card-content>
</ion-content>