ion-content {
    --background: linear-gradient(#FFF, #F9A732);
   }
   ion-toolbar{
     --ion-background-color: transparent;
     --opacity: 0;
   }
   ion-card{
     --ion-background-color: #FD9F19;
     
   }
   .img-logo{
    display: block;
    margin: 50px auto 10px auto;
    width: 200px;
    height: 40%;
  }
  .imgC{
    width: 60%;
    margin: 0 auto;
}
.logo{
 
  margin: 20% 0 20% 0;

  margin-bottom: 10px;

}
