* {
    --background: linear-gradient(#ffffff, #F9A732);
  }
  .img-logo {
   
  }
  .h5 {
   
  }
  
  .titre{
   display: flex;
   flex-direction: column;
   padding: auto;
  }
  
  audio {
    width: 200px;
    height: 40px;
    margin: 0 ;
  }
  ion-col img{
      width: 20%;
  }