.hauteur{
    height: 240px;
}

.taille-image{
    height: 100px;
    width: 90%;
}

audio{
    padding-top: 10px;
    height: 40px;
}

ion-label{
   margin-left: auto;
   margin-right: auto;
}

ion-img{
   margin-left: auto;
   margin-right: auto;
}

ion-button{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 50%;
    padding-top: 10px;
}