<ion-content [fullscreen]="true" class="background-image" no-scroll padding>
  <ion-card-content>
    <ion-header class="img-logo"> <img src="assets/images/logo.png"></ion-header>
    <div class="cont-btns">
      <ion-item lines="none">
        <audio class="audiobtn" src="assets/audio/Bienvenue.ogg"controls></audio>
      </ion-item>
        <br/>
      <ion-button shape="round" class="joubtn" color="warning" routerLink="tabs/tabs/tab2">
        APPRENDRE
      </ion-button> <br/>
      <ion-button shape="round" class="apprebtn" routerLink="tabs/tabs/tab3">
        Jouer
      </ion-button>
    </div>
  </ion-card-content>
</ion-content>